<!-- Here we somehow visually represent a single pet, as well as player controls (like feeding it) -->
<!-- This could simply be text, listing a pet's name & stats, with buttons for player inputs -->

@using Tamagotchi.Models;

<h1>@Model.Name</h1>

<button>Feed 🍜</button>
<button>Give Love 💓</button>

<a href="/">
<button>Home</button>
</a>

<!-- foreach (Parcel parcel in Model) {
  <li>
    <p>Weight: parcel.Weight</p>
    <p>Height: parcel.Dimensions[0]</p>
    <p>Width: parcel.Dimensions[1]</p>
    <p>Depth: parcel.Dimensions[2]</p>
    <p>Volume: parcel.Volume()</p>
    <p>Box: parcel.FindBox().Item1</p>
    <p>Price: parcel.FindBox().Item2</p>
  </li>
  }
</ul>
</body>
</html> -->